<IfModule mod_rewrite.c>
    RewriteEngine On
RewriteCond %{HTTP_HOST} !^(localhost|127\.0\.0\.1)(:\d+)?$
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]    
    # RewriteBase /
    # ^ Atau ganti sesuai folder (misal /simpelpkk/) jika diperlukan

    # Jika file atau direktori tidak ditemukan, alihkan ke index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
