* {
    margin: 0;
    padding: 0;
}

body {
    max-height: 100vh;
}

#cyclist-boy {
    position: absolute;
    bottom: 5%;
    width: 30%;
    left: 20%;
    height: auto;
}

.bg-wrapper {
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#city-animate {
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    background-size: cover !important;
    /* opacity: 0.8; */
    /* filter: blur(0.21px); */
}

.city-animate {
    animation: 64s linear 0s normal none infinite running;
    max-height: 100vh!important;
    background-size: 40%!important;
    background-position: left bottom;
    background-repeat: repeat-x!important;
}

@keyframes bg_slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

.svg-section {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#character {
    -webkit-animation: bike 1s ease-in-out 0s infinite alternate;
    animation: bike 1s ease-in-out 0s infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

@-webkit-keyframes bike {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(20deg);
        transform: rotateX(20deg);
    }
}

@keyframes bike {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(20deg);
        transform: rotateX(20deg);
    }
}

#cloud1 {
    position: absolute;
    left: 20%;
    width: 10%;
    top: 10%;
    opacity: 0.8;
    height: auto;
    /* animation: cloud 3s ease-in-out 0s infinite alternate; */
}

@keyframes cloud {
    from {
        left: 20%;
    }
    to {
        left: 22%;
    }
}

svg#cloud2 {
    position: absolute;
    left: 50%;
    width: 20%;
    top: 20%;
    height: auto;
    animation: cloud2 4s ease-in-out 0s infinite alternate;
}

@keyframes cloud2 {
    from {
        left: 50%;
    }
    to {
        left: 45%;
    }
}

svg#cloud3 {
    position: absolute;
    right: 10%;
    width: 15%;
    top: 15%;
    opacity: 0.7;
    height: auto;
}

#right-wheel {
    -webkit-animation: wheel-rotation 1.5s linear 0s infinite forwards;
    animation: wheel-rotation 1.5s linear 0s infinite forwards;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel-rotation {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.pushable,
.pusher {
    background: #cdddc1;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover !important;
    position: relative !important;
    margin: 0 !important;
    /* height: auto !important; */
    min-height: 100% !important;
    padding-top: 150px;
}


/* BASIC */

html {
    background-color: #56baed;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}


/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}


/* ANIMATIONS */


/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 84%;
}

#iconBawah {
    width: 46%;
}

#footer {
    height: 50px;
    line-height: 50px;
    background: #333;
    color: #fff;
    position: absolute;
    bottom: 0px;
}

.login-content {
    background-color: #ffffffaa;
    height: 550px;
    margin: 100px 0px 0px 0px;
    border-radius: 15px;
}

.fv-row .form-control {
    border: 2px solid #0a7273;
    border-radius: 20px;
}

.fv-row .form-control:hover {
    border: 2px solid #00a9ac;
    border-radius: 20px;
}

.fv-row .form-label {
    color: #0a7273;
}

.fw-bolder {
    color: #0a7273;
}